body{
    background-image: url("pngtree-cute-hand-drawn-style-math-education-blue-plaid-background-picture-image_1176978.jpg");
    background-size: cover;
}

button{
    background-color: #c6e5b1;
    margin-top: 300px;
}